body {
    margin: 0;
}

#card {
    margin: 0em auto;
    display: flex;
    flex-direction: column;
    /* width: 600px; */
    max-width: 100vw;
    overflow: hidden;
}
video {
    width:100vw;
    height:100vh;
    object-fit:cover;
    z-index:-1;
    position:absolute;
  }

model-viewer {
    width: 100%;
    height: 95vh;
    
}

